@use "sass:color";

$primary-color: #32a852;
$primary-color-alpha: color.scale($primary-color, $alpha: -80%);

$bg-color-l: color.scale($primary-color, $lightness: 80%);
$bg-color-d: color.scale($primary-color, $lightness: -90%, $saturation: -50%);

$crt-bg: radial-gradient(
  color.scale($primary-color, $lightness: -80%),
  color.scale($primary-color, $lightness: -90%)
);

$nav-bg-l: color.scale($bg-color-l, $alpha: -20%, $lightness: 50%);
$nav-bg-d: color.scale($bg-color-d, $alpha: -20%, $lightness: 5%, $saturation: -50%);

$glow: 0 0 0 1px color.scale($primary-color, $alpha: -95%),
  0 2px 6px 2px color.scale($primary-color, $alpha: -95%),
  0 4px 24px 4px color.scale($primary-color, $alpha: -90%);

:root {
  --bg-color: #{$bg-color-l};
  --crt-bg: #{$crt-bg};
  --nav-bg: #{$nav-bg-l};
  --primary-color-alpha: #{$primary-color-alpha};
  --primary-color: #{$primary-color};
  --glow: #{$glow};
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #{$bg-color-d};
    --nav-bg: #{$nav-bg-d};
  }
}

.tag {
  border-radius: 9999px;
  color: var(--fg-color);
  padding: 0.25rem 0.75rem;
  transition: var(--transition);
  background-color: var(--fg05);

  &:hover {
    color: rgb(255, 255, 255);
    background-color:var(--purple3);
    background-image: radial-gradient(at 0 0, var(--primary-color) 0, transparent 50%),
      radial-gradient(at 100% 100%, var(--primary-color) 0, transparent 50%);
    text-decoration: none;
  }

  &::before {
    content: "#";
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      color: rgba(0, 0, 0, 0.8);
      background-color:var(--purple3);
      background-image: radial-gradient(at 0 0, var(--primary-color) 0, transparent 50%),
        radial-gradient(at 100% 100%, var(--primary-color) 0, transparent 50%);
      text-decoration: none;
    }
  }
}